---
import Layout from "../layouts/Layout.astro";
import { StarsBackground } from "../components/StarsBackground/StarsBackground";
import MainHeader from "../components/MainHeader/MainHeader.astro";
import BioSection from "../components/Bio/Bio.astro";
import AboutSection from "../components/About/About.astro";
import MyProjects from "../components/MyProjects/MyProjects.astro";
import Contact from "../components/Contact/Contact.astro";
---

<Layout title="Dariusz Praczuk - Frontend Developer">
  <main class="relative font-gimenell bg-[#120a30] lg:bg-transparent">
    <StarsBackground client:load className="lg:h-[5550px] 2xl:h-[5200px] absolute" />
    <MainHeader />
    <AboutSection />
    <BioSection />
    <MyProjects />
    <Contact />
  </main>
</Layout>
