---
import Layout from "../layouts/Layout.astro";
import { StarsBackground } from "../components/StarsBackground/StarsBackground";
import MainHeader from "../components/MainHeader/MainHeader.astro";
import BioSection from "../components/Bio/Bio.astro";
import AboutSection from "../components/About/About.astro";
import MyProjects from "../components/MyProjects/MyProjects.astro";
import Contact from "../components/Contact/Contact.astro";
import { Footer } from "../components/Footer/Footer";
---

<Layout title="Dariusz Praczuk - Frontend Developer">
  <main class="relative font-gimenell lg:bg-transparent">
    <StarsBackground client:load className="min-h-[100%] absolute" />
    <MainHeader />
    <AboutSection />
    <BioSection />
    <MyProjects />
    <Contact />
    <Footer />
  </main>
</Layout>
