---
import { Image } from "astro:assets";
import Astronaut from "../../../public/assets/images/astronaut.png";
import Arrow from "../../../public/assets/images/Arrow.png";
---

<header class="relative h-screen">
  <div class="flex justify-center items-center w-full absolute z-20 top-48">
    <Image
      src={Astronaut}
      class={"animate-float h-[600px] z-10 left-[10%] top-[20%]"}
      alt="astronaut"
    />
    <div class="z-10 font-gimenell">
      <p
        class="text-[60px] text-[#00f6ff] tracking-wide [text-shadow:_6px_5px_0_rgb(250_0_255_/_200%)] mb-2 overflow-hidden"
      >
        Hi, my name is Darek
      </p>
      <p class="text-white tracking-wider text-2xl w-[500px]">
        I am a star pilot (and frontend developer) who isn't afraid of any
        challenge.
      </p>
      <div
        class="flex flex-col items-center justify-center text-white text-2xl tracking-wider w-full mt-10"
      >
        <p class="animate-blinker">Scroll down to start</p>
        <Image
          src={Arrow}
          alt="scroll down"
          class={"w-10 mt-5 animate-bounce"}
        />
      </div>
    </div>
  </div>
</header>
