---
import Layout from "../../layouts/Layout.astro";
import { StarsBackground } from "../../components/StarsBackground/StarsBackground";
---

<Layout title="Dariusz Praczuk - Frontend Developer">
  <main class="relative font-gimenell">
    <StarsBackground className="h-[440vh] absolute" />
  </main>
</Layout>
