---
import { ViewTransitions } from "astro:transitions";
import "src/styles/main.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
    <link
      rel="preload"
      href="/assets/fonts/GIMENELL.TTF"
      as="font"
      type="font/ttf"
      crossorigin
    />
  </head>
  <body class="relative">
    <slot class="py-[100px]" />

    <style is:global>
      html {
        overflow-x: hidden;
      }
      .keen-slider:not([data-keen-slider-disabled]) {
        align-content: flex-start;
        display: flex;
        overflow: hidden;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        touch-action: pan-y;
        -webkit-tap-highlight-color: transparent;
        width: 100%;
      }
      .keen-slider:not([data-keen-slider-disabled]) .keen-slider__slide {
        position: relative;
        overflow: hidden;
        width: 100%;
        min-height: 100%;
      }
      .keen-slider:not([data-keen-slider-disabled])[data-keen-slider-reverse] {
        flex-direction: row-reverse;
      }
      .keen-slider:not([data-keen-slider-disabled])[data-keen-slider-v] {
        flex-wrap: wrap;
      }

      .starsContainer {
        margin: 0;
        background-color: #120a30;
        z-index: 10;
      }

      .star {
        background-color: #f0f0f0;
        width: 1.5px;
        height: 1.5px;
        position: absolute;
        border: #f0f0f0 0px solid;
        border-radius: 50%;
        opacity: 0;
        box-shadow: 0px 0px 3px 2px rgba(255, 255, 255, 0.5);
        animation-name: glow;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        z-index: 10;
      }

      .slider-wrap {
        position: relative;
        box-sizing: border-box;
        overflow: hidden;
      }

      .slider-wrap::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 100%;
        pointer-events: none;
        z-index: 50;

        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(12px);

        background: linear-gradient(
          to left,
          #120a30 0%,
          rgba(18, 10, 48, 0) 100%
        );

        -webkit-mask-image: linear-gradient(
          to left,
          black 0%,
          transparent 100%
        );
        mask-image: linear-gradient(to left, black 0%, transparent 100%);
      }

      .slider-wrap::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 100%;
        pointer-events: none;
        z-index: 60;

        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);

        background: linear-gradient(
          to right,
          #120a30 0%,
          rgba(18, 10, 48, 0) 100%
        );

        -webkit-mask-image: linear-gradient(
          to right,
          black 0%,
          transparent 100%
        );
        mask-image: linear-gradient(to right, black 0%, transparent 100%);
      }

      .slider-wrap .keen-slider {
        overflow: visible;
      }

      .pixel-violet-container {
        background-color: rgb(129, 18, 247, 0.1);
        box-shadow:
          -9px 0 0 0 rgb(162, 139, 255),
          9px 0 0 0 rgb(129, 18, 247),
          0 -9px 0 0 rgb(162, 139, 255),
          0 9px 0 0 rgb(129, 18, 247);
      }

      .pixel-flat-pink-container {
        background-color: rgb(191, 28, 255, 0.3);
        box-shadow:
          -8px 0 0 0 rgb(222, 143, 254),
          8px 0 0 0 rgb(191, 28, 255),
          0 -8px 0 0 rgb(222, 143, 254),
          0 8px 0 0 rgb(191, 28, 255);
      }

      .retro-desktop-container {
        background-color: black;
        box-shadow:
          -8px 0 0 0 rgb(171, 171, 171),
          8px 0 0 0 rgb(171, 171, 171),
          0 -8px 0 0 rgb(171, 171, 171),
          0 8px 0 0 rgb(171, 171, 171);
      }

      @keyframes glow {
        0% {
          opacity: 0;
          transform: scale(1, 1);
          z-index: 10;
        }
        20% {
          opacity: 0.5;
          z-index: 10;
        }
        35% {
          opacity: 1;
          z-index: 10;
        }
        50% {
          transform: scale(2, 2);
          z-index: 10;
        }
        100% {
          transform: scale(1, 1);
          z-index: 10;
        }
      }
    </style>
  </body>
</html>
